body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
}

.main{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    align-items: center;   
}

.box:hover{
    background-color: gray;
    border-radius: 50%;
    transition: 500ms;
}