body{
    background-image: url('background.avif');
    background-size: cover;
    padding: 25px 100px;
}

h1{
    background-color: rgb(247, 240, 237, 0.9);
    padding: 20px;
    width: 60%;
}

p{
    background-color: rgb(247, 240, 237, 0.9);
    padding: 20px;
    width: 60%;
    margin-top: 50px;
}